@import "../components/vars.scss";

.container__menu {
  width: 100vw;
  display: flex;
  justify-content: space-around;
}

.menu {
  position: fixed;
  width: 100%;
  background: #00000058;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  &__ul {
    display: flex;
    max-width: 1170px;
    width: 40%;
    justify-content: center;
    list-style: none;
  }
  &__li {
    display: flex;
  }
  &__a {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 20px;

    color: #fff;
    &:hover {
    }
  }
  & img {
    margin-left: 50px;
  }
  &__button {
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 30px;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    color: #fff;
    background: linear-gradient(right, #fa0347 0%, #fa0347 100%, #fc561c 0%);
    transition: all 0.5s ease;
    &:hover {
      transition: all 0.5s ease;
      background: linear-gradient(left, #fa0347 0%, #fa0347 100%, #fc561c 0%);
    }
  }
}
